body {
  background-color: rgb(29, 84, 185);
}

.category-name h1 {
  color: white;
  padding: 30px 20px 5px 20px;
}

/* card */
.main-card-container {
  position: relative;
  width: 340px;
  height: 480px;
  background: none;
}

.question-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.flipCard {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  background: #ffc728;
  color: #000;
  backface-visibility: hidden;
}

.card-front.observability {
  background: cadetblue;
}
.card-front.dev-practices {
  background: plum;
}
.card-front.ci-cd {
  background: crimson;
}
.card-front.culture {
  background: steelblue;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  backface-visibility: hidden;
  background: white;
  color: rgb(19, 19, 19);
  transform: rotateY(180deg);
}

.card-number{
  margin: 10px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 2px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-size: 2rem;
  justify-content: center;

}

.card-front h2,
.card-back h2 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.card-front p,
.card-back p {
  padding: 15px 5px 10px 5px;
  font-weight: normal;
  text-align: center;
}

#debug {
  font-size: large;
}
.high-score {
  text-align: center;
  padding: 2px;
}
.low-score {
  text-align: center;
  padding: 2px;
}
