body {
  background-color: #00539F;
}

.category-name h1 {
  color: white;
  padding: 30px 20px 5px 20px;
  text-shadow: 1px 2px grey;
}

/* card */
.main-card-container {
  position: relative;
  width: 340px;
  height: 480px;
  background: none;
}

.question-card {

  border: 1px solid;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.flipCard {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  background: #ffc728;
  color: #000;
  backface-visibility: hidden;
}

.card-front.observability {
  background: cadetblue;
}
.card-front.availability {
  background: rgb(255 147 231);
}
.card-front.tech{
  background: rgb(11 170 82);
}
.card-front.dev-practices {
  background: #d2cacb;
}
.card-front.deployments {
  background: #f2b3bf;
}
.card-front.culture {
  background: #8eba4a;
}
.card-front.flow {
  background: bisque;
}

/** show a star on important cards **/
span.card-important {
  position: absolute;
  top:2%;
  right:3%;
  font-size: 1rem;
  color:yellow;
  text-shadow: 1px 2px grey;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  backface-visibility: hidden;
  background: #15EBE1;
  color: rgb(19, 19, 19);
  transform: rotateY(180deg);
}

.card-number {
  margin: 10px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 2px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-size: 2.3rem;
  justify-content: center;
  cursor: pointer;
}

.card-front h2,
.card-back h2 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.card-score {
  margin: 10px;
  padding: 2px;
  border: 1px solid black;
}

.card-points {
  background: gray;
  border: 2px solid #666;
  color: whitesmoke;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
}

.high-score {
  background-color: #57bf81;
}
.low-score {
  background-color: #bf5757;
}

footer.card-footer  {
  position: absolute;
  bottom:0px;
  width: 100%;
  opacity: 60%;
  color:white;
  background-color: rgb(124, 116, 116);
}


#debug {
  font-size: large;
}

.scroll {
  overflow-y: auto;
}

.bg-dark {
  background-color: #b60515 !important;
}
