body {
  background-color: #eeeeee;
  font-family: "helvetica", sans-serif;
  font-size: 16px;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(99deg, #2980b9 0%, #9b59b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1e5799", endColorstr="#7db9e8",GradientType=1 );
}

.category-name h2 {
  color: white;
  padding: 50px 20px 5px 20px;
}

/* card */
.main-card-container {
  position: relative;
  width: 340px;
  height: 480px;
  background: none;
}

.question-card {
  border: 1px solid;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}
.flipCard {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  background: #ffc728;
  color: #000;
  backface-visibility: hidden;
}

.card-front.observability {
  background: cadetblue;
}
.card-front.dev-practices {
  background: rgb(238, 170, 224);
}
.card-front.tech {
  background: rgb(11 170 82);
}
.card-front.availability {
  background: #d2cacb;
}
.card-front.deployments {
  background: #f2b3bf;
}
.card-front.culture {
  background: #8eba4a;
}
.card-front.flow {
  background: bisque;
}

/** show a star on important cards **/
span.card-important {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1rem;
  color: yellow;
  text-shadow: 1px 2px grey;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  backface-visibility: hidden;
  background: rgb(206 206 206);
  color: rgb(19, 19, 19);
  /* color: white; */
  transform: rotateY(180deg);
}

.card-number {
  margin: 10px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 2px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-size: 2.3rem;
  justify-content: center;
  cursor: pointer;
}

.card-front h2,
.card-back h2 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.card-score {
  margin: 10px;
  padding: 2px;
  border: 1px solid black;
}

.card-points {
  background: gray;
  border: 2px solid #666;
  color: whitesmoke;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
}

.high-score {
  background-color: #57bf81;
}
.low-score {
  background-color: #bf5757;
}

footer {
  margin-top: 40px;
}

footer.card-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 60%;
  color: white;
  background-color: rgb(124, 116, 116);
}

#debug {
  font-size: large;
}

.scroll {
  overflow-y: auto;
}

.bg-dark {
  background-color: #4d4d4d !important;
}
